@model zrak.Models.BlogListModel
@{
    ViewData["Title"] = "Blogs";
}

<div class="text-center">
    <blogListModel>
        @Model.Blogs
        <a asp-action="AddPost" asp-controller="Blog">Add Post</a>
    </blogListModel>
</div>

