@model zrak.Models.BlogListModel
@{
    ViewData["Title"] = "Blogs";
}

<div class="text-center">
    <blogListModel>
        <a asp-action="AddPost" asp-controller="Blog">Add Post</a>

        @if (Model.Blogs != null)
        {
            @foreach (var x in @Model.Blogs)
            {
    <li>
        <a asp-action="ViewPost" asp-controller="Blog" asp-route-id="@x.Id"> @x.Title</a>
        <a asp-action="EditPost" asp-controller="Blog" asp-route-id="@x.Id">Edit</a>
    </li>
            }
        }
    </blogListModel>
</div>

