@model zrak.Models.BlogModel

<form method="post" class="text-center">
    <p class="alert alert-success text-center">Edit the Title and the Body of the Post</p>
    <input type="hidden" readonly asp-for="Id" />
    <br />
    Title:
    <br />
    <input asp-for="Title" />
    <br />
    <br />
    Body:
    <br />
    <textarea rows="6" cols="50" input asp-for="Body"></textarea>
    <br />
    <br />
    <input type="submit" class="btn btn-primary" />
    <a asp-action="BlogView" asp-controller="Blog" class="btn btn-secondary">Back</a>
</form>
