@model zrak.Models.BlogModel

<br />
<div class="text-center text-white">
    <div style="width: 80%; margin: 0 auto; padding: 10px; border-radius: 10px 10px 0px 0px; background-color: dodgerblue ">
        @Model.Title
    </div>
    <div style="width: 80%; margin: 0 auto; padding: 10px; border-radius: 0px 0px 10px 10px; background-color: slategrey; ">
        <blogModel> 
            @Model.Body
        </blogModel>
        <br />
    </div>
    <br />
    <br />
    <a asp-action="BlogView" asp-controller="Blog" class="btn btn-secondary">Back</a>
</div>
