@model zrak.Models.HelloModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <helloModel>
        @Model.Greet
    </helloModel>
    <a asp-action="BlogView" asp-controller="Blog">Blog</a>
    <a asp-action="TicTacToeView" asp-controller="TicTacToe">Tic-Tac-Toe</a>
</div>
