@model zrak.Models.HelloModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="d-block p-2 bg-dark text-white text-center fs-4">
    <helloModel>
        @Model.Greet
    </helloModel>
</div>
<br />
<div class="text-center">
    <a asp-action="BlogView" asp-controller="Blog" class="btn btn-secondary col-2">Blog</a>
    <a asp-action="TicTacToeView" asp-controller="TicTacToe" class="btn btn-secondary col-2">Tic-Tac-Toe</a>
</div>